<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    <%= title %>
  </title>

  <%- include('../common/stylesheets'); %>
</head>

<body class="nav-md">
  <div class="container body">
    <div class="main_container">
      <%- include('../common/navigation'); %>

        <!-- page content -->
        <div class="right_col" role="main">

          <div class="">
            <div class="page-title">
              <div class="title_left" style="width:55%;">
                <h3>
                  <i class="fa fa-dollar notices-icon"></i>Bills</h3>
              </div>

              <div class="title_right" style="width:45%;">
                <div class="col-xs-12 pull-right">
                  <button class="btn btn-success" data-toggle="modal" data-target="#create-new-bill-modal" style="float:right">
                    <i class="fa fa-plus-circle" style="padding-right:8px;"></i>Add New Bill(s)</button>
                </div>
              </div>
              <!-- title right -->
            </div>

              <!--
                    <div class="title_right">
                        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">Go!</button>
                                </span>
                            </div>
                        </div>
                    </div> <!-- title right -->
            </div>
            <!-- page title -->

            <div class="clearfix"></div>

            <div class="">

              <div class="clearfix"></div>

              <div class="x_panel" style="padding:23px 25px;">
                <div class="alert alert-success" id="generating-bills-msg" style='display: none;text-align: center;'>
                  <strong>We are Generating MULTIPLE Bills in the Backend. This will take time. Please Refresh this page Manually after some time to see them.</strong>
                </div>

                <div class="row">
                  <div class="col-xs-12">

                    <div class="x_panel" style="padding:0 5px;">

                      <form class="form-inline search-resident-field">
                        <h4 class="label-filter"></i>Block</h4>
                        <div class="form-group service-request">
                          <select class="form-control" id="filter-block" name="block" style="min-width:111px;">
                          <% blocks.forEach(function (block) { %>
                            <option value="<%= block %>"><%= block %></option>
                          <% }) %>
						               </select>
                        </div>
                        <h4 class="label-filter">Flat No.</h4>
                        <div class="form-group service-request">
                          <select class="form-control" id="filter-flat-no" name="flatno" style="min-width:111px;">
                            <option value="==ANY==">ANY Flat in Block</option>
						               </select>
                        </div>
                        <h4 class="label-filter">Period (Due Date)</h4>
                        <div class="form-group service-request">
                          <input name="period" id="filter-period" class="form-control"/>
                        </div>
                        <%# <div class="form-group service-request">
                          <select class="form-control" style="min-width:111px;">
                            <option>Select Month</option>
                            <option>January</option>
                            <option>February</option>
	                          <option>March</option>
                            <option>April</option>
                            <option>May</option>
	                          <option>June</option>
                            <option>July</option>
                            <option>August</option>
                        		<option>September</option>
                        		<option>October</option>
                            <option>November</option>
                            <option>December</option>
						              </select>
                        </div>
                        <h4 class="label-filter">to</h4>
                        <div class="form-group service-request">
                          <select class="form-control" style="min-width:111px;">
                            <option>Select Month</option>
                            <option>January</option>
                            <option>February</option>
                            <option>March</option>
                            <option>April</option>
                            <option>May</option>
                            <option>June</option>
                            <option>July</option>
                            <option>August</option>
    												<option>September</option>
    												<option>October</option>
                            <option>November</option>
                            <option>December</option>
		                      </select>
                        </div>%>

                        <button class="btn btn-info" style="margin-top:5px;"><i class='fa fa-filter' title="Filter"></i> Apply Filters</button>

                      </form>
                    </div>
                    <% if (JSON.stringify(query) != '{}') { %>
                      <h4 class="label-filter" style="margin-right: 2em;">Active Filters: </h4>
                      <% if (query.block) {%> <strong>Block:</strong> <%= query.block %> <%} %>
                      <% if (query.flatno) {%> | <strong>Flat No.:</strong> <%= query.flatno %> <%} %>
                      <% if (query.period) {%> | <strong>Due Date Period:</strong> <%= query.period %> <%} %>
                      <button id="clear-filters-btn" class="btn  btn-xs btn-warning hover-pointer" style="margin-left:3em;"><i class='fa fa-eraser' title="Clear All Filters"></i> Clear Filters</button>
                      <br/><br/>
                    <% } %>
                    <!-- x_panel -->
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel" style="padding:0">

                      <div class="x_content" style="padding:0">
                        <table class="table complain-table" id="bills-table" style="margin-top:-2px;">
                          <thead>
                            <tr>
                              <th>Date</th>
                              <th>Category</th>
                              <th>Description</th>
                              <th>Amount (INR)</th>
                              <th>Due Date</th>
                              <th>Block (Unit)</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% bills.forEach(function (bill) { %>
                            <tr>
                              <td><%= moment(bill.addedOn).format("DD-MMM-YYYY") %></th>
                                <td><%= bill.category %></td>
                                <td><%= bill.desc %></td>
                                <td><%= bill.amount %></td>
                                <td><%= moment(bill.dueDate).format("DD-MMM-YYYY") %></th>
                                  <td><%= bill.block + ', ' + bill.flatNo %></td>
                                  <td>
                                    <i class="fa fa-edit" style="color:#333; font-size:16px; cursor:pointer" data-toggle="modal" data-target="#edit-bill-modal-<%= bill._id %>"></i> &nbsp; &nbsp;
                                    <button type="button" class="btn btn-warning btn-xs">Remind</button>
                                  </td>
                            </tr>
                            <% }) %>

                          </tbody>
                        </table>

                      </div>
                      <!-- x-content -->
                    </div>
                    <!-- x_panel -->

                  </div>
                </div>
              </div>
              <!-- x_panel  -->
            </div>

            <!--  bill generate modal  -->
            <div class="modal fade bs-example-modal-lg" id="create-new-bill-modal" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">

                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                                            </button>
                    <h4 class="modal-title" id="myModalLabel3">New Bill</h4>
                  </div>
                  <div class="modal-body">
                    <br/>
                    <div class="row notice-modal">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <form>
                          <div class="form-group has-feedback row create-bill_modal">
                            <div class="col-xs-6">
                              <div class="form-group">
                                <label>Block</label>
                                <select class="form-control" id="block">
                                  <option value="==ALL==" selected>== ALL Blocks ==</option>
                                  <% blocks.forEach(function (block) { %>
                                    <option value="<%= block %>"><%= block %></option>
                                  <% }) %>
						                    </select>
                              </div>
                            </div>
                            <div class="col-xs-6">
                              <div class="form-group">
                                <label>Flat No.</label>
                                <select class="form-control" id="flat-no" disabled>
                                  <option value="==ALL==" selected>== ALL Flats in Block ==</option>
						                    </select>
                              </div>
                            </div>

                            <div class="col-xs-6">
                              <div class="form-group">
                                <select class="form-control" id='category'>
                                  <option disabled selected value="">Select Category</option>
                                  <% billCategories.forEach(function (cat) { %>
                                    <option value="<%= cat %>"><%= cat %></option>
                                  <% }) %>
  						                    </select>
                              </div>
                            </div>
                            <div class="col-xs-6 form-group has-feedback">
                              <input type="text" class="form-control has-feedback-left datetimepicker" id="due-date" placeholder="Due Date">
                              <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
                            </div>

                            <div class="col-xs-12" style="margin-top:-10px;">
                              <textarea id="desc" class="form-control" rows="2" placeholder="Description"></textarea>
                            </div>

                            <div class="col-xs-6" style="margin-top:7px;">
                              <div class="radio">
                                <label>
                                  <input type="radio" value="area" id="optionsRadios1" name="area-or-fixed" checked="checked">Bill - By Area
                                </label>
                              </div>
                              <div class="row">
                                <div class="col-xs-12">
                                  <input type="text" class="form-control" id="bill-rate" name="add-rate" placeholder="Rate">
                                </div>
                              </div>
                              <!-- row -->

                            </div>
                            <div class="col-xs-6" style="margin-top:7px;">
                              <div class="radio">
                                <label>
                                  <input type="radio" value="fixed" id="optionsRadios2" name="area-or-fixed">Bill - Fixed Rate
                                </label>
                              </div>
                              <div class="row">
                                <div class="col-xs-12">
                                  <input type="text" class="form-control" id="bill-amount" name="add-amount" placeholder="Amount" disabled>
                                </div>
                              </div>
                              <!-- row -->
                            </div>

                          </div>
                          <!-- create-bill_modal -->

                          <div class="text-center" style="margin-top:5px;">
                            <button class="btn btn-success" id="save-bill-btn">Save</button> &nbsp; &nbsp;
                            <button class="btn btn-warning" id="cancel-btn" data-dismiss="modal">Cancel</button>
                          </div>
                        </form>
                      </div>

                    </div>
                    <!-- notice-modal  -->
                  </div>
                  <!-- modal-body  -->

                </div>
                <!-- modal-content -->
              </div>
            </div>
            <!-- bill generate modal  --->

            <!--  bill edit modals  -->
            <% bills.forEach(function (bill) { %>
            <div class="modal fade bs-example-modal-lg" id="edit-bill-modal-<%= bill._id %>" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">

                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                                            </button>
                    <h4 class="modal-title" id="myModalLabel3">New Bill</h4>
                  </div>
                  <div class="modal-body">
                    <br/>
                    <div class="row notice-modal">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <form>
                          <div class="form-group has-feedback row create-bill_modal">
                            <div class="col-xs-6">
                              <div class="form-group">
                                <label>Block</label>
                                <select class="form-control edit-bill-block" data-bill-id="<%= bill._id %>" id="block-<%= bill._id %>">
                                  <% blocks.forEach(function (block) { %>
                                    <option value="<%= block %>" <% if (bill.block == block) {%> selected <%}%>><%= block %></option>
                                  <% }) %>
                                </select>
                              </div>
                            </div>
                            <div class="col-xs-6">
                              <div class="form-group">
                                <label>Flat No.</label>
                                <select class="form-control" id="flat-no-<%= bill._id %>" disabled>
                                </select>
                              </div>
                            </div>

                            <div class="col-xs-6">
                              <div class="form-group">
                                <select class="form-control" id='category-<%= bill._id %>'>
                                  <option disabled selected value="">Category</option>
                                  <option value="General" <% if (bill.category == "General") {%> selected <%}%>>General</option>
                                  <option value="Electricity" <% if (bill.category == "Electricity") {%> selected <%}%>>Electricity></option>
                                </select>
                              </div>
                            </div>
                            <div class="col-xs-6 form-group has-feedback">
                              <input type="text" class="form-control has-feedback-left datetimepicker" id="due-date-<%= bill._id %>" placeholder="Due Date" value="<%= moment(bill.dueDate).format('DD/MM/YYYY')  %>">
                              <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
                            </div>

                            <div class="col-xs-12" style="margin-top:-10px;">
                              <textarea id="desc-<%= bill._id %>" class="form-control" rows="2" placeholder="Description"><%= bill.desc %></textarea>
                            </div>

                            <div class="col-xs-6" style="margin-top:7px;">
                              <div class="radio">
                                <label>
                                  <input type="radio" class="radio-area-or-fixed" data-bill-id="<%= bill._id %>" value="area" id="optionsRadios1" name="area-or-fixed-<%= bill._id %>" >Bill - By Area
                                </label>
                              </div>
                              <div class="row">
                                <div class="col-xs-12">
                                  <input type="text" class="form-control" id="bill-rate-<%= bill._id %>" name="add-rate" placeholder="Rate" disabled>
                                </div>
                              </div>
                              <!-- row -->

                            </div>
                            <div class="col-xs-6" style="margin-top:7px;">
                              <div class="radio">
                                <label>
                                  <input type="radio" class="radio-area-or-fixed" data-bill-id="<%= bill._id %>" value="fixed" id="optionsRadios2" name="area-or-fixed-<%= bill._id %>" checked="checked">Bill - Fixed Rate
                                </label>
                              </div>
                              <div class="row">
                                <div class="col-xs-12">
                                  <input type="text" class="form-control" id="bill-amount-<%= bill._id %>" name="add-amount" placeholder="Amount" value="<%= bill.amount %>">
                                </div>
                              </div>
                              <!-- row -->
                            </div>

                          </div>
                          <!-- create-bill_modal -->

                          <div class="text-center" style="margin-top:5px;">
                            <button class="btn btn-success save-edited-bill-btn" data-bill-id="<%= bill._id %>">Save</button> &nbsp; &nbsp;
                            <button class="btn btn-warning cancel-edited-bill-btn" id="cancel-btn-<%= bill._id %>" data-dismiss="modal" data-bill-id="<%= bill._id %>">Cancel</button>
                          </div>
                        </form>
                      </div>

                    </div>
                    <!-- notice-modal  -->
                  </div>
                  <!-- modal-body  -->

                </div>
                <!-- modal-content -->
              </div>
            </div>
            <% }) %>
            <!-- bill edit modal  --->


            <!-- /page content -->

            <!-- footer content
                 <footer>
                     <div class="pull-right">
                         Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                     </div>
                     <div class="clearfix"></div>
                 </footer>
                 <!-- /footer content -->
          </div>
        </div>
        <!-- right_col -->

        <div id="custom_notifications" class="custom-notifications dsp_none">
          <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group"></ul>
          <div class="clearfix"></div>
          <div id="notif-group" class="tabbed_notifications"></div>
        </div>
    </div>
    <!-- main container -->
  </div>
  <!-- container body -->

    <%- include('../common/javascripts'); %>

  <script type="text/javascript">
    $(function() {
      $('.datetimepicker').datetimepicker({
        format: 'DD/MM/YYYY',
        defaultDate: moment().toDate()
      });
    });

/** Filter Bar **/
    $("#filter-period").daterangepicker({
      locale: {
        format: "DD/MM/YYYY"
      },
      startDate: moment().startOf('month').format("DD/MM/YYYY"),
      endDate: moment().format("DD/MM/YYYY")
    });
    $(document).on("change", "#filter-block", function (e) {
      e.preventDefault();
      var block = $("#filter-block").find(":selected").val();
      $.ajax({
        method: "POST",
        type: "POST",
        url: "/admin/flatsbyblock/"+block,
        success: function (resp) {
          $("#filter-flat-no").html('<option value="==ANY==">ANY Flat in Block</option>');
          if (!resp.err) {
            $("#filter-flat-no").prop('disabled', false);
            resp.flatNos.forEach(function (flatNo) {
              $("#filter-flat-no").append(`<option value="${flatNo}">${flatNo}</option>`);
            })
          }
        }
      })
    })
    $(document).ready(function () {
      $("#filter-block").trigger("change"); // ajax load flat nos for first time (for first block)
    })

    $("#clear-filters-btn").click(function (e) {
      e.preventDefault();
      window.location.assign("/admin/bills");
    })

    /*** New Bill generate **/
    $(document).on("change", "input[name=area-or-fixed]", function (e) {
      if ($(this).val() === "area") {
        $("#bill-amount").prop("disabled", true);
        $("#bill-rate").prop("disabled", false);
      } else if ($(this).val() === "fixed") {
        $("#bill-rate").prop("disabled", true);
        $("#bill-amount").prop("disabled", false);
      }
    });
    $(document).on("change", "#block", function (e) {
      e.preventDefault();
      var block = $("#block").find(":selected").val();
      $.ajax({
        method: "POST",
        type: "POST",
        url: "/admin/flatsbyblock/"+block,
        success: function (resp) {
          $("#flat-no").html(`<option value="==ALL==" selected>== ALL Flats in Block ==</option>`);
          if (!resp.err) {
            $("#flat-no").prop('disabled', false);
            resp.flatNos.forEach(function (flatNo) {
              $("#flat-no").append(`<option value="${flatNo}">${flatNo}</option>`);
            })
          }
        }
      })
    })

    $("#cancel-btn").click(function (e) {
      e.preventDefault();
      $("#create-new-bill-modal form").trigger("reset");
      $("#create-new-bill-modal").modal("hide");
    })
    // Add New Bill
    $("#save-bill-btn").click(function (e) {
      e.preventDefault();
      var self = this;
      var formData = {
        block: $("#block").find(":selected").val(),
        flatNo: $("#flat-no").find(":selected").val(),
        category: $("#category").find(":selected").val(),
        dueDate: $("#due-date").val(),
        desc: $("#desc").val(),
        areaOrFixed: $("input[name=area-or-fixed]:checked").val(),
        rate: $("#bill-rate").val(),
        amount: $("#bill-amount").val()
      }
      // validations
      if (!validateRequired(formData.rate) && !validateRequired(formData.amount)) {
        new PNotify({
          text: "Either Rate or Amount must be filled in!",
          type: "error"
        })
        return false;
      }
      if (formData.areaOrFixed == "fixed" && !validateNumeric(formData.amount)) {
        new PNotify({
          text: "Amount must be numeric!",
          type: "error"
        })
        return false;
      }
      if (formData.areaOrFixed == "area" && !validateNumeric(formData.rate)) {
        new PNotify({
          text: "Rate must be numeric!",
          type: "error"
        })
        return false;
      }

      $(self).prop("disabled", true);
      $.ajax({
        method: "POST",
        type: "POST",
        url: "/admin/bills",
        data: {formData: formData},
        success: function (resp) {
          console.log(resp);
          //window.location.reload();
          if (resp.error == false) {
            // Reset form & hide modals
            $("#create-new-bill-modal form").trigger("reset");
            $("#bill-amount").prop("disabled", true);
            $("#bill-rate").prop("disabled", false);
            $("#create-new-bill-modal").modal("hide");
            if (resp.refresh) {
             window.location.reload(); // refresh window for single bill
            } else {
              $("#generating-bills-msg").show();
            }
          }
          $(self).prop("disabled", false);
        }
      })
    })
/*** Edit Bills **/
$(document).on("change", ".radio-area-or-fixed", function (e) {
  var billId = $(this).data('bill-id');
  if ($(this).val() === "area") {
    $("#bill-amount-"+billId).prop("disabled", true);
    $("#bill-rate-"+billId).prop("disabled", false);
  } else if ($(this).val() === "fixed") {
    $("#bill-rate-"+billId).prop("disabled", true);
    $("#bill-amount-"+billId).prop("disabled", false);
  }
});
$(document).on("change", ".edit-bill-block", function (e) {
  e.preventDefault();
  var block = $(this).find(":selected").val();
  var billId = $(this).data("bill-id");
  $.ajax({
    method: "POST",
    type: "POST",
    url: "/admin/flatsbyblock/"+block,
    success: function (resp) {
      $("#flat-no-"+billId).html('');
      if (!resp.err) {
        $("#flat-no-"+billId).prop('disabled', false);
        resp.flatNos.forEach(function (flatNo) {
          $("#flat-no-"+billId).append(`<option value="${flatNo}">${flatNo}</option>`);
        })
      }
    }
  })
})

$(".cancel-edited-bill-btn").click(function (e) {
  e.preventDefault();
  $("#edit-bill-modal-"+$(this).data('bill-id')).modal("hide");
})

$(".save-edited-bill-btn").click(function (e) {
  e.preventDefault();
  var self = this;
  var billId = $(self).data("bill-id");
  var formData = {
    block: $("#block-"+billId).find(":selected").val(),
    flatNo: $("#flat-no-"+billId).find(":selected").val(),
    category: $("#category-"+billId).find(":selected").val(),
    dueDate: $("#due-date-"+billId).val(),
    desc: $("#desc-"+billId).val(),
    areaOrFixed: $("input[name=area-or-fixed-"+billId+"]:checked").val(),
    rate: $("#bill-rate-"+billId).val(),
    amount: $("#bill-amount-"+billId).val()
  }
  // validations
  if (!validateRequired(formData.rate) && !validateRequired(formData.amount)) {
    new PNotify({
      text: "Either Rate or Amount must be filled in!",
      type: "error"
    })
    return false;
  }
  if (formData.areaOrFixed == "fixed" && !validateNumeric(formData.amount)) {
    new PNotify({
      text: "Amount must be numeric!",
      type: "error"
    })
    return false;
  }
  if (formData.areaOrFixed == "area" && !validateNumeric(formData.rate)) {
    new PNotify({
      text: "Rate must be numeric!",
      type: "error"
    })
    return false;
  }

  $(self).prop("disabled", true);
  $.ajax({
    method: "PUT",
    type: "PUT",
    url: "/admin/bills/"+billId,
    data: {formData: formData},
    success: function (resp) {
      console.log(resp);
      //window.location.reload();
      if (resp.error == false) {
        // $("#edit-bill-modal-"+billId+" form").trigger("reset");
        $("#edit-bill-modal-"+billId).modal("hide");
        window.location.reload();
      }
      $(self).prop("disabled", false);
    }
  })
})

  </script>
  <!-- Eonasdan date time picker script (end) -->
</body>

</html>
