<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= title %></title>

    <%- include('../common/stylesheets'); %>
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <%- include('../common/navigation'); %>

        <!-- page content -->

        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left" style="width:55%;">
                <h3 id="label-emergency-cntct">
                  <i class="fa fa-plus emergency-icon"></i>Emergency Contacts</h3>
              </div>
              <div class="title_right" style="width:45%;">
                <div class="col-xs-12 pull-right">
                  <button class="btn btn-success" data-toggle="modal" data-target="#add-modal" style="float:right">
                    <i class="fa fa-plus-circle" style="padding-right:8px;"></i>Add Emergency Contact</button>
                </div>
              </div>
              <!-- title right -->

            </div>
            <!-- page title -->

            <div class="clearfix"></div>

            <div class="x_panel" style="padding:23px 14px;">

              <div class="clearfix"></div>
              <% for (var i = 0; i < data.length; i++) { %>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <div class="x_panel emergency-cntct-panel">
                    <div class="x_title red-txt">
                      <div class="row">
                        <div class="col-xs-9 col-sm-9 col-md-9">
                          <p>
                            <i class="fa fa-shield"></i><%= data[i].type %></p>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 hover-pointer red-txt-edit">
                          <i class="fa fa-trash" onclick="delContact('<%= data[i]._id %>')"></i>
                          <i class="fa fa-edit" onclick="setCurrentId('<%= data[i]._id %>')" data-toggle="modal" data-target="#edit-modal-<%= data[i]._id %>"></i>
                        </div>
                      </div>
                    </div>
                    <div class="x_content emergency-content">
                      <ul class="list-unstyled emergency-number">
                        <% for (var j = 0; j < data[i].contacts.length; j++) { %>
                          <li>
                            <div class="row">
                              <div class="col-xs-6 col-sm-6 col-md-6">
                                <%=  data[i].contacts[j].organization %>
                              </div>
                              <div class="col-xs-6 col-sm-6 col-md-6 pull-right">
                                <i class="fa fa-mobile-phone"></i>
                                <%=  data[i].contacts[j].contactPhone %>
                              </div>
                            </div>
                          </li>
                        <% } %>
                      </ul>
                    </div>
                    <!-- emergency-content -->

                  </div>
                  <!-- x_Panel -->
                </div>
                <!-- col-md-4 -->

                <!-- edit emergency contact modal - -->
                <div id="edit-modal-<%= data[i]._id %>" class="modal fade bs3-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog modal-sm">
                    <div class="modal-content">

                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel3">Add Emergency Contact</h4>
                      </div>
                      <div class="modal-body">
                        <div class="row notice-modal">
                          <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group has-feedback">
                              <input type="text" class="form-control" id="contact-type-<%= data[i]._id %>" placeholder="Type of Contact" value="<%= data[i].type %>">
                            </div>

                            <div id="contacts-list-<%= data[i]._id %>" class="row" style="margin:0 0 18px">
                              <% for (var j = 0; j < data[i].contacts.length; j++) { %>
                                <div class="form-group has-feedback contact-row">
                                  <div class="col-xs-5" style="padding-left:0">
                                    <input type="text" class="form-control contact-name" placeholder="Name" value="<%= data[i].contacts[j].organization %>">

                                  </div>
                                  <div class="col-xs-5" style="padding-right:0">
                                    <input type="text" class="form-control contact-phone" placeholder="Phone Number" value="<%= data[i].contacts[j].contactPhone %>">
                                  </div>
                                </div>
                              <% } %>
                              <div class="col-xs-2" style="padding-right:0">
                                <button class="btn gray-btn" onclick="addContactRow_edit()">
                                  <i class="fa fa-plus-circle"></i>
                                </button>
                              </div>
                            </div>

                            <div class="text-center">
                              <button class="edit-contact-btn btn btn-success">Save</button>
                            </div>
                          </div>

                        </div>
                        <!-- notice-modal -->
                      </div>
                      <!-- modal-body -->

                    </div>
                    <!-- modal-content -->
                  </div>
                </div>

              <% } %>

            </div>

            <!-- add emergency contact modal - -->
            <div id="add-modal" class="modal fade bs3-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">

                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel3">Add Emergency Contact</h4>
                  </div>
                  <div class="modal-body">
                    <div class="row notice-modal">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group has-feedback">
                          <input type="text" class="form-control" id="contact-type" placeholder="Type of Contact">
                        </div>

                        <div id="contacts-list" class="row" style="margin:0 0 18px">
                          <div class="form-group has-feedback contact-row">
                            <div class="col-xs-5" style="padding-left:0">
                              <input type="text" class="form-control contact-name" placeholder="Name">

                            </div>
                            <div class="col-xs-5" style="padding-right:0">
                              <input type="text" class="form-control contact-phone" placeholder="Phone Number">
                            </div>
                            <div class="col-xs-2" style="padding-right:0">
                              <button class="btn gray-btn" onclick="addContactRow()">
                                <i class="fa fa-plus-circle"></i>
                              </button>
                            </div>
                          </div>
                        </div>

                        <div class="text-center">
                          <button id="save-contact-btn" class="btn btn-success">Save</button>
                        </div>
                      </div>

                    </div>
                    <!-- notice-modal -->
                  </div>
                  <!-- modal-body -->

                </div>
                <!-- modal-content -->
              </div>
            </div>

            <!-- /page content -->

            <!-- footer content -->
            <!--
                        <footer>
                            <div class="pull-right">
                                Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                            </div>
                            <div class="clearfix"></div>
                        </footer>
                        -->
            <!-- /footer content -->
            <!-- right_col -->

            <!-- <div id="custom_notifications" class="custom-notifications dsp_none">
                    <ul class="list-unstyled notifications clearfix" data-tabbed-notifications="notif-group"></ul>
                    <div class="clearfix"></div>
                    <div id="notif-group" class="tabbed_notifications"></div>
                </div> -->
          </div>
          <!-- main container -->
        </div>
        <!-- container body -->

        <%- include('../common/javascripts'); %>

        <script type="text/javascript">

          var currentId = null;
          var setCurrentId = function(id) {
            currentId = id;
            console.log(currentId);
          }

          var addContactRow = function() {
            console.log('ading....');
            var html = '<div class="form-group has-feedback contact-row"><div class="col-xs-5" style="padding-left:0"><input type="text" class="form-control contact-name" id="inputSuccess304" placeholder="Name"></div><div class="col-xs-5" style="padding-right:0"><input type' +
                '="text" class="form-control contact-phone" id="inputSuccess305" placeholder="Phone Number"></div><div class="col-xs-2" style="padding-right:0"></div></div>'
            $("#contacts-list").prepend(html);
          }

          var addContactRow_edit = function() {
            console.log('ading....');
            var html = '<div class="form-group has-feedback contact-row"><div class="col-xs-5" style="padding-left:0"><input type="text" class="form-control contact-name" id="inputSuccess304" placeholder="Name"></div><div class="col-xs-5" style="padding-right:0"><input type' +
                '="text" class="form-control contact-phone" id="inputSuccess305" placeholder="Phone Number"></div><div class="col-xs-2" style="padding-right:0"></div></div>'
            $("#contacts-list-" + currentId).prepend(html);
          }

          var delThis = function (id) {
            console.log('deleting...........'+id);

          }

          $("#save-contact-btn").click(function() {
            var contactType = $('#contact-type').val();
            var contacts = [];

            $('#add-modal .contact-row').each(function() {
              // console.log($(this).find('.contact-name').val());
              var cName = $(this).find('.contact-name').val();
              var cPhone = $(this).find('.contact-phone').val();
              if ( validateRequired(cName) && validateRequired(cPhone) ) {
                contacts.push({"organization": cName, "contactPhone": cPhone});
              }
            })
            // validations
            if (!validateRequired(contactType)){
              new PNotify({
                title: 'Validation Failed',
                text: 'Please enter Contact Type!',
                type: 'error'
              });
              return false;
            }
            if (contacts.length == 0){
              new PNotify({
                title: 'Validation Failed',
                text: 'Please enter at least one Contact with both Name & Phone No. filled in',
                type: 'error'
              });
              return false;
            }
            // /end validations
            $(this).prop('disabled', true); //prevent form re-submission
            postNewContact({contactType: contactType, contacts: contacts})
            console.log(contactType, contacts);
          })

          $(".edit-contact-btn").click(function() {
            var contactType = $('#contact-type-'+currentId).val();
            var contacts = [];
            console.log(currentId);
            $('#contacts-list-' + currentId + ' .contact-row').each(function() {
              var cName = $(this).find('.contact-name').val();
              var cPhone = $(this).find('.contact-phone').val();
              if ( validateRequired(cName) && validateRequired(cPhone) ) {
                contacts.push({"organization": cName, "contactPhone": cPhone});
              }
            });
            // validations
            if (!validateRequired(contactType)){
              new PNotify({
                title: 'Validation Failed',
                text: 'Please enter Contact Type!',
                type: 'error'
              });
              return false;
            }
            if (contacts.length == 0){
              new PNotify({
                title: 'Validation Failed',
                text: 'Please enter at least one Contact with both Name & Phone No. filled in',
                type: 'error'
              });
              return false;
            }
            // /end validations
            $(this).prop('disabled', true); //prevent form re-submission
            putContact({contactType: contactType, contacts: contacts})
            // console.log(contactType, contacts);
          })

          // POST new notice
          var postNewContact = function(data) {
            $.ajax({
              type: "JSON",
              url: "/admin/emergency",
              method: "POST",
              data: {
                type: data.contactType,
                contacts: data.contacts
                // societyId: '123456789'
              },
              success: function(result) {
                if (result.error) {
                  alert('oops')
                } else {
                  window.location.reload();
                }
              }
            });
          };
          // PUT new notice
          var putContact = function(data) {
            $.ajax({
              // type: "JSON",
              url: "/admin/emergency",
              method: "PUT",
              data: {
                id: currentId,
                type: data.contactType,
                contacts: data.contacts
                // societyId: '123456789'
              },
              success: function(result) {
                if (result.error) {
                  alert('oops')
                } else {
                  setCurrentId(null);
                  window.location.reload();
                }
              }
            });
          };
          // PUT new notice
          var delContact = function(id) {
            // alert('deleting....'+id)
            $.ajax({
              type: "DELETE",
              url: "/admin/emergency",
              method: "DELETE",
              data: {
                id: id
                // societyId: '123456789'
              },
              success: function(result) {
                if (result.error) {
                  alert('oops')
                } else {
                  setCurrentId(null);
                  window.location.reload();
                }
              }
            });
          };
          // $("#add-new-notice-btn").click(function(e) {
          //   postNewNotice();
          //   $("#modal-add-notice").modal('hide');
          // })

          $(document).ready(function() {


          });
        </script>

        <!-- PNotify
            <script>
      $(document).ready(function() {
        new PNotify({
          title: "PNotify",
          type: "info",
          text: "Welcome. Try hovering over me. You can click things behind me, because I'm non-blocking.",
          nonblock: {
              nonblock: true
          },
          addclass: 'dark',
          styling: 'bootstrap3',
          hide: false,
          before_close: function(PNotify) {
            PNotify.update({
              title: PNotify.options.title + " - Enjoy your Stay",
              before_close: null
            });

            PNotify.queueRemove();

            return false;
          }
        });

      });
            </script>
           <!-- PNotify -->

        <!-- Custom Notification -->
        <script>
          $(document).ready(function() {
            var cnt = 10;

            TabbedNotification = function(options) {
              var message = "<div id='ntf" + cnt + "' class='text alert-" + options.type + "' style='display:none'><h2><i class='fa fa-bell'></i> " + options.title + "</h2><div class='close'><a href='javascript:;' class='notification_close'><i class='fa fa-close'></i></a></div><p>" + options.text + "</p></div>";

              if (!document.getElementById('custom_notifications')) {
                alert('doesnt exists');
              } else {
                $('#custom_notifications ul.notifications').append("<li><a id='ntlink" + cnt + "' class='alert-" + options.type + "' href='#ntf" + cnt + "'><i class='fa fa-bell animated shake'></i></a></li>");
                $('#custom_notifications #notif-group').append(message);
                cnt++;
                CustomTabs(options);
              }
            };

            CustomTabs = function(options) {
              $('.tabbed_notifications > div').hide();
              $('.tabbed_notifications > div:first-of-type').show();
              $('#custom_notifications').removeClass('dsp_none');
              $('.notifications a').click(function(e) {
                e.preventDefault();
                var $this = $(this),
                  tabbed_notifications = '#' + $this.parents('.notifications').data('tabbed_notifications'),
                  others = $this.closest('li').siblings().children('a'),
                  target = $this.attr('href');
                others.removeClass('active');
                $this.addClass('active');
                $(tabbed_notifications).children('div').hide();
                $(target).show();
              });
            };

            CustomTabs();

            var tabid = idname = '';

            $(document).on('click', '.notification_close', function(e) {
              idname = $(this).parent().parent().attr("id");
              tabid = idname.substr(-2);
              $('#ntf' + tabid).remove();
              $('#ntlink' + tabid).parent().remove();
              $('.notifications a').first().addClass('active');
              $('#notif-group div').first().css('display', 'block');
            });
          });
        </script>
        <!-- /Custom Notification -->
      </body>
    </html>
